.flex {
    display: flex;
}

.space-a {
    justify-content: space-around;
}

.space-b {
    justify-content: space-between;
}

.space-e {
    justify-content: space-evenly;
}

.f-wrap-no {
    flex-wrap: nowrap;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}